.badge {
	position: relative;
	display: inline-block;
	height: var(--space-xl);
	max-width: 100%;
	box-sizing: border-box;
	padding: var(--space-xxs) var(--space-s);
	overflow: hidden;
	border-radius: 99em;
	font-size: var(--size-typo-s);
	font-weight: 500;
	font-family: $font-sans;
	white-space: nowrap;
	text-overflow: ellipsis;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 99em;
	}
}
