.badge {
    position: relative;
    display: inline-block;
    height: var(--space-xl);
    max-width: 100%;
    box-sizing: border-box;
    padding: var(--space-2xs) var(--space-s);
    overflow: hidden;
    border-radius: 99em;
    font-size: var(--size-text-s, var(--size-typo-s));
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 99em;
    }
}
