.badge {
	display: inline-block;
	height: var(--space-xl);
	max-width: 100%;
	box-sizing: border-box;
	padding: var(--space-xxs) var(--space-s);
	overflow: hidden;
	border-radius: 99em;
	font-size: var(--size-typo-s);
	font-weight: 500;
	font-face: $font-sans;
	white-space: nowrap;
	text-overflow: ellipsis;
}
