/* Базовые цвета от которых выстраивается вся политра */
$color-base-base: #000000; /* hsl(0, 0%, 0%) Базовый цвет содержимого, от которого выстраиваются цвета текста, иконок, ...*/
$color-base-essential: #dde3e5; /* hsl(0, 0%, 100%) Базовый цвет поверхностей */
$color-base-project: #0056b3; /* hsl(211, 100%, 35%) Проектный цвет, от которого выстраивают акцентные состояния */
$color-base-phantom: #000; /* hsl(40, 14%, 96%) Тонирующий цвет, от которого выстраиватся бордеры, паранджа, ... */
$color-base-path: #0070f0; /* hsl(220, 100%, 47%) Ссылочный цвет, от которого выстраиваются все их состояния */
$color-base-success: #00985f; /* Цвет успеха */
$color-base-alert: #f33; /* Цвет ошибки */
$color-base-warning: #f90; /* Цвет предупреждения */
$color-base-normal: #dde3e5; /* Цвет нейтральный */
$color-base-system: #778a9b; /* Цвет системнный */

/* Цвета фона */
$color-bg-brand: $color-base-project; /* Цвет фона брендированый */
$color-bg-action: color($color-base-project l(+15%)); /* Цвет фона действия */
$color-bg-selection: color($color-base-project h(-1) l(+31%)); /* Цвет фона выделения */
$color-bg-hover: color($color-base-base a(15%)); /* Цвет фона при наведении */
$color-bg-border: color($color-base-phantom a(5%)); /* Цвет границ */
$color-bg-stripe: color($color-base-phantom a(4%)); /* Цвет зебры */
$color-bg-ghost: color($color-base-phantom a(8%)); /* Цвет затенения */
$color-bg-default: $color-base-essential; /* Цвет дефолта */
$color-bg-tone: color($color-base-phantom a(90%)); /* Цвет паранджи */
$color-bg-soft: color($color-base-essential a(97%)); /* Цвет молока */

$color-bg-success: $color-base-success; /* Цвет фона успеха */
$color-bg-alert: $color-base-alert; /* Цвет фона ошибки */
$color-bg-warning: $color-base-warning; /* Цвет фона предупреждения */
$color-bg-normal: $color-base-normal; /* Цвет фона нейтральный */
$color-bg-system: $color-base-system; /* Цвет фона системнный */
$color-bg-link: color($color-base-path h(-7%) s(-13) l(+14) a(40%)); /* Цвет фона ссылки */

/* Цвета текста */
$color-typo-brand: $color-base-project; /* Цвет брендового текста */
$color-typo-primary: $color-base-base; /* Цвет основного текста */
$color-typo-promo: color($color-base-base a(80%)); /* Цвет промо текста */
$color-typo-secondary: color($color-base-base a(60%)); /* Цвет второстепенного текста */
$color-typo-ghost: color($color-base-base a(30%)); /* Цвет дополнительного текста */
$color-typo-disable: color($color-base-base a(30%)); /* Цвет неактивного текста */
$color-typo-success: $color-base-success; /* Цвет текста успеха */
$color-typo-warning: $color-base-warning; /* Цвет текста предупреждения */
$color-typo-alert: $color-base-alert; /* Цвет текста ошибки */

/* Цвета ссылок */
$color-link: $color-base-path; /* Цвет основной ссылки */
$color-link-external: $color-base-path; /* Цвет дополнительной ссылки */
$color-link-minor: color($color-base-path h(+22) s(-80%) l(+13%)); /* Цвет второстепенной ссылки */
$color-link-hover: color($color-base-path l(-7%)); /* Цвет ховера ссылки */


.theme_color_whitepaper-normal {

	/* Цвета блоков */
	--color-bg-brand: $color-bg-brand; /* Цвет фона брендированый */
	--color-bg-action: $color-bg-action; /* Цвет фона действия */
	--color-bg-selection: $color-bg-selection; /* Цвет фона выделения */
	--color-bg-hover: $color-bg-hover; /* Цвет фона при наведении */
	--color-bg-border: $color-bg-border; /* Цвет границ */
	--color-bg-stripe: $color-bg-stripe; /* Цвет зебры */
	--color-bg-ghost: $color-bg-ghost; /* Цвет затенения */
	--color-bg-default: $color-bg-default; /* Цвет дефолта */
	--color-bg-tone: $color-bg-tone; /* Цвет паранджи */
	--color-bg-soft: $color-bg-soft; /* Цвет молока */
	--color-bg-success: $color-bg-success; /* Цвет успеха */
	--color-bg-alert: $color-bg-alert; /* Цвет ошибки */
	--color-bg-warning: $color-bg-warning; /* Цвет предупреждения */
	--color-bg-normal: $color-bg-normal; /* Цвет нейтральный */
	--color-bg-system: $color-bg-system; /* Цвет системнный */
	--color-bg-link: $color-bg-link; /* Цвет фона ссылки */

	/* Цвета текста */
	--color-typo-brand: $color-typo-brand; /* Цвет брендового текста */
	--color-typo-primary: $color-typo-primary; /* Цвет основного текста */
	--color-typo-promo: $color-typo-promo; /* Цвет промо текста */
	--color-typo-secondary: $color-typo-secondary; /* Цвет второстепенного текста */
	--color-typo-ghost: $color-typo-ghost; /* Цвет дополнительного текста */
	--color-typo-disable: $color-typo-disable; /* Цвет неактивного текста */
	--color-typo-success: $color-typo-success; /* Цвет текста успеха */
	--color-typo-warning: $color-typo-warning; /* Цвет текста предупреждения */
	--color-typo-alert: $color-typo-alert; /* Цвет текста ошибки */

	/* Цвета ссылок */
	--color-link: $color-link; /* Цвет основной ссылки */
	--color-link-external: $color-link-external; /* Цвет дополнительной ссылки */
	--color-link-minor: $color-link-minor; /* Цвет второстепенной ссылки */
	--color-link-hover: $color-link-hover; /* Цвет ховера ссылки */

}
