.pt-table_view_default {
	& > .pt-table__row {
		background: var(--color-bg-default);

		&:hover {
			background: var(--color-bg-stripe);
		}

		&_view_head,
		&_head:hover {
			background: transparent;
		}
	}
}
