@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansRegular/MuseoSansRegular.eot");
	src:
		url("museo/fonts/MuseoSansRegular/MuseoSansRegular.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansRegular/MuseoSansRegular.woff") format("woff"),
		url("museo/fonts/MuseoSansRegular/MuseoSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansBold/MuseoSansBold.eot");
	src:
		url("museo/fonts/MuseoSansBold/MuseoSansBold.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansBold/MuseoSansBold.woff") format("woff"),
		url("museo/fonts/MuseoSansBold/MuseoSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansItalic/MuseoSansItalic.eot");
	src:
		url("museo/fonts/MuseoSansItalic/MuseoSansItalic.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansItalic/MuseoSansItalic.woff") format("woff"),
		url("museo/fonts/MuseoSansItalic/MuseoSansItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansLight/MuseoSansLight.eot");
	src:
		url("museo/fonts/MuseoSansLight/MuseoSansLight.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansLight/MuseoSansLight.woff") format("woff"),
		url("museo/fonts/MuseoSansLight/MuseoSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansMedium/MuseoSansMedium.eot");
	src:
		url("museo/fonts/MuseoSansMedium/MuseoSansMedium.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansMedium/MuseoSansMedium.woff") format("woff"),
		url("museo/fonts/MuseoSansMedium/MuseoSansMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansBlack/MuseoSansBlack.eot");
	src:
		url("museo/fonts/MuseoSansBlack/MuseoSansBlack.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansBlack/MuseoSansBlack.woff") format("woff"),
		url("museo/fonts/MuseoSansBlack/MuseoSansBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot");
	src:
		url("museo/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.woff") format("woff"),
		url("museo/fonts/MuseoSansBoldItalic/MuseoSansBoldItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot");
	src:
		url("museo/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.woff") format("woff"),
		url("museo/fonts/MuseoSansMediumItalic/MuseoSansMediumItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 500;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot");
	src:
		url("museo/fonts/MuseoSansLightItalic/MuseoSansLightItalic.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansLightItalic/MuseoSansLightItalic.woff") format("woff"),
		url("museo/fonts/MuseoSansLightItalic/MuseoSansLightItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 300;
}

@font-face {
	font-family: "MuseoSans";
	src: url("museo/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot");
	src:
		url("museo/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.eot?#iefix") format("embedded-opentype"),
		url("museo/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.woff") format("woff"),
		url("museo/fonts/MuseoSansBlackItalic/MuseoSansBlackItalic.ttf") format("truetype");
	font-style: italic;
	font-weight: 900;
}

$font-sans: "MuseoSansRegular", Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$font-mono: monospace;

.theme_font_museo {
	--font-sans: "MuseoSans", Helvetica, Arial, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: monospace;
}

.theme_font_museo {
	font-family: var(--font-sans);
}
