.theme_gap_medium {
	/* Размеры отступа у контента */
	--gap: var(--space-5xl);

	/* Размеры отступов в колонках */
	--col-gap-third: calc(var(--gap) / 3);
	--col-gap-half: calc(var(--gap) / 2);
	--col-gap-two-thirds: calc(var(--gap) * 2 / 3);
	--col-gap-full: var(--gap);
}
