@import "../_breakpoint/theme_breakpoint_default.post.css";

:root {
	/* Размеры отступа у контента */
	--gap: $space-m;

	/* Размеры отступов в колонках */
	--col-gap-third: calc(var(--gap) * 0.33);
	--col-gap-half: calc(var(--gap) * 0.5);
	--col-gap-two-thirds: calc(var(--gap) * 0.66);
	--col-gap-full: var(--gap);
	--col-gap-2x: calc(var(--gap) * 2);
	--col-gap-3x: calc(var(--gap) * 3);
}

@media screen and (min-width: $screen-s) {
	:root { --gap: $space-xxl; }
}

@media screen and (min-width: $screen-m) {
	:root { --gap: $space-xxxl; }
}

@media screen and (min-width: $screen-l) {
	:root { --gap: $space-xxxxl; }
}
