.social-icon_size_m {
	width: 24px;
	height: 24px;
	&.social-icon {
		&_round {
			&_facebook-primary,
			&_facebook-inverse,
			&_facebook-default {
				padding: var(--space-xxs);
			}
			&_instagram-primary,
			&_instagram-inverse,
			&_instagram-default {
				padding: var(--space-xxs);
			}
			&_ok-primary,
			&_ok-inverse,
			&_ok-default {
				padding: var(--space-xxs);
			}
			&_telegram-primary,
			&_telegram-inverse,
			&_telegram-default {
				padding: var(--space-xxs);
			}
			&_twitter-primary,
			&_twitter-inverse,
			&_twitter-default {
				padding: var(--space-xxs);
			}
			&_vk-primary,
			&_vk-inverse,
			&_vk-default {
				padding: var(--space-xxs);
			}
			&_ya-primary,
			&_ya-inverse,
			&_ya-default {
				padding: var(--space-xxs);
			}
		}
	}
}


