$screen-xs: 320px;
$screen-s: 720px;
$screen-m: 1024px;
$screen-l: 1280px;
$screen-xl: 1440px;

.theme_breakpoint_default {
	--screen-xs: 320px;
	--screen-s: 720px;
	--screen-m: 1024px;
	--screen-l: 1280px;
	--screen-xl: 1440px;
}
