.pt-surface__close {
	position: fixed;
	top: var(--space-m);
	right: var(--space-m);
	cursor: pointer;
	transition: opacity 0.2s ease-out 0s;
	z-index: 10;
	&:hover {
		opacity: 1;
		transition: none;
	}
}
