@import '../../theme/_breakpoint/theme_breakpoint_default.post.css';

.pt-form_structure_70-30 .pt-form__item {
    display: flex;
}
.pt-form_structure_70-30 .pt-form__label {
    width: 70%;
}
.pt-form_structure_70-30 .pt-form__control {
    width: 30%;
}

@media screen and (max-width: $screen-xs-max) {
    .pt-form_structure_70-30 .pt-form__item {
        display: block;
    }
    .pt-form_structure_70-30 .pt-form__label {
        width: 100%;
    }
    .pt-form_structure_70-30 .pt-form__control {
        width: 100%;
    }
}
