.pt-icon-plus_xs-direction {
    &_column .pt-icon-plus__icon_indent_4xl { 
        margin-bottom: var(--space-4xl);
    }
    &_row .pt-icon-plus__icon_indent_4xl:first-child {
        margin-right: var(--space-4xl);
    }
    &_row .pt-icon-plus__icon_indent_4xl:last-child {
        margin-left: var(--space-4xl);
    }
}

@media screen and (max-width: $screen-s-max) {
    .pt-icon-plus_s-direction {
        &_column .pt-icon-plus__icon_indent_4xl { 
            margin-bottom: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:first-child {
            margin-right: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:last-child {
            margin-left: var(--space-4xl);
        }
    }
}

@media screen and (max-width: $screen-m-max) {
    .pt-icon-plus_m-direction {
        &_column .pt-icon-plus__icon_indent_4xl { 
            margin-bottom: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:first-child {
            margin-right: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:last-child {
            margin-left: var(--space-4xl);
        }
    }
}

@media screen and (max-width: $screen-l-max) {
    .pt-icon-plus_l-direction {
        &_column .pt-icon-plus__icon_indent_4xl { 
            margin-bottom: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:first-child {
            margin-right: var(--space-4xl);
        }
        &_row .pt-icon-plus__icon_indent_4xl:last-child {
            margin-left: var(--space-4xl);
        }
    }
}