.pt-card__play {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	border-top: var(--space-l) solid transparent;
	border-bottom: var(--space-l) solid transparent;
	border-left: var(--space-2xl) solid var(--color-bg-default);
	transform: translate(-50%, -50%);
	cursor: pointer;

	&:hover {
		border-left: var(--space-2xl) solid var(--color-bg-brand);
	}
}
