.pt-card__play {
	position: absolute;
	z-index: 99;
	top: 50%;
	left: 50%;
	margin-left: calc(-1 * var(--space-l));
	margin-top: calc(-1 * var(--space-l));
	border-top: var(--space-l) solid transparent;
	border-bottom: var(--space-l) solid transparent;
	border-left: var(--space-xxl) solid var(--color-bg-default);
	cursor: pointer;

	&:hover {
		border-left: var(--space-xxl) solid var(--color-bg-action);
	}
}
