.theme_size_default {
  /* Font size — DEPRECATED */
  --size-typo-xs: 11px;
  --size-typo-s: 13px;
  --size-typo-m: 15px;
  --size-typo-l: 18px;
  --size-typo-xl: 20px;
  --size-typo-2xl: 24px;
  --size-typo-3xl: 32px;
  --size-typo-4xl: 48px;
  --size-typo-5xl: 72px;
  --size-typo-6xl: 96px;

  /* Line height — DEPRECATED */
  --line-height-typo-xs: 1.4em;
  --line-height-typo-s: 1.5em;
  --line-height-typo-m: 1.6em;
  --line-height-typo-l: 1.6em;
  --line-height-typo-xl: 1.6em;
  --line-height-typo-2xl: 1.5em;
  --line-height-typo-3xl: 1.4em;
  --line-height-typo-4xl: 1.4em;
  --line-height-typo-5xl: 1.2em;
  --line-height-typo-6xl: 1.2em;

  /* Font size */
  --size-text-base: 16px;

  --size-text-xs: 0.7em;
  --size-text-s: 0.8em;
  --size-text-m: 1em;
  --size-text-l: 1.125em;
  --size-text-xl: 1.25em;
  --size-text-2xl: 1.5em;
  --size-text-3xl: 2em;
  --size-text-4xl: 3em;
  --size-text-5xl: 4.5em;
  --size-text-6xl: 6em;

  /* Line height */
  --line-height-text-xs: 1.2em;
  --line-height-text-s: 1.4em;
  --line-height-text-m: 1.5em;
  --line-height-text-l: 1.6em;
}
