.pt-form_space-a_xl .pt-form__item {
    padding: var(--space-xl);
}

.pt-form_space-a_xl .pt-form__section {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}

.pt-form_space-a_xl .pt-form__item:not(.pt-form_bordered):first-child {
    padding-top: 0;
}
.pt-form_space-a_xl .pt-form__item:not(.pt-form_bordered):last-child {
    padding-bottom: 0;
}

.pt-form_space-a_xl .pt-form__section .pt-form__item {
    padding-left: 0;
    padding-right: 0;
}