.tag_size_m {
	height: var(--space-2xl);
	padding: 0 var(--space-s);
	border-radius: var(--space-l);
	font-size: var(--size-typo-m);
	line-height: var(--line-height-typo-m);

	.pt-tag__delete {
		margin: 0 calc(-1 * var(--space-3xs)) 0 var(--space-2xs);
		cursor: pointer;
	}
}
