.social-icon_name_codepen.social-icon_view_brand svg {
	fill: #000;
}

.social-icon_name_dribbble.social-icon_view_brand svg {
	fill: #EA4C89;
}

.social-icon_name_github.social-icon_view_brand svg {
	fill: #181717;
}

.social-icon_name_ok.social-icon_view_brand svg {
	fill: #EE8208;
}

.social-icon_name_telegram.social-icon_view_brand svg {
	fill: #299ED7;
}

.social-icon_name_twitter.social-icon_view_brand svg {
	fill: #1DA1F2;
}

.social-icon_name_facebook.social-icon_view_brand svg {
	fill: #3B5998;
}

.social-icon_name_ya.social-icon_view_brand svg {
	fill: #ff0000;
}
 
