.social-icon_name_codepen.social-icon_view_brand svg {
	fill: #000;
}

.social-icon_name_dribbble.social-icon_view_brand svg {
	fill: #ea4c89;
}

.social-icon_name_github.social-icon_view_brand svg {
	fill: #181717;
}

.social-icon_name_ok.social-icon_view_brand svg {
	fill: #ee8208;
}

.social-icon_name_telegram.social-icon_view_brand svg {
	fill: #299ed7;
}

.social-icon_name_twitter.social-icon_view_brand svg {
	fill: #1da1f2;
}

.social-icon_name_ya.social-icon_view_brand svg {
	fill: #f00;
}

