.pt-form_space-h_xs .pt-form__item {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

.pt-form_space-h_xs .pt-form__section {
    padding-left: var(--space-xs);
    padding-right: var(--space-xs);
}

.pt-form_space-h_xs .pt-form__section .pt-form__item {
    padding-left: 0;
    padding-right: 0;
}