.pt-form_space-h_4xl .pt-form__item {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
}

.pt-form_space-h_4xl .pt-form__section {
    padding-left: var(--space-4xl);
    padding-right: var(--space-4xl);
}

.pt-form_space-h_4xl .pt-form__section .pt-form__item {
    padding-left: 0;
    padding-right: 0;
}