.pt-form_space-h_xl .pt-form__item {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}

.pt-form_space-h_xl .pt-form__section {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
}

.pt-form_space-h_xl .pt-form__section .pt-form__item {
    padding-left: 0;
    padding-right: 0;
}