.pt-form_space-h_m .pt-form__item {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.pt-form_space-h_m .pt-form__section {
    padding-left: var(--space-m);
    padding-right: var(--space-m);
}

.pt-form_space-h_m .pt-form__section .pt-form__item {
    padding-left: 0;
    padding-right: 0;
}